@keyframes bicis {
    0% {background-image: url('../assets/Image/59224-bicicleta.jpg'); background-size: cover; background-position: center;}
    10% {background-image: url('../assets/Image/5576004.jpg'); background-size: cover; background-position: center}
    20% {background-image: url('../assets/Image/59174-bicicleta.jpg'); background-size: cover; background-position: center}
    30% {background-image: url('../assets/Image/59180-bicicleta.jpg'); background-size: cover; background-position: center}
    40% {background-image: url('../assets/Image/59196-bicicleta.jpg'); background-size: cover; background-position: center}
    50% {background-image: url('../assets/Image/59295-bicicleta.jpg'); background-size: cover; background-position: center}
    60% {background-image: url('../assets/Image/59315-bicicleta.jpg'); background-size: cover; background-position: center}
    70% {background-image: url('../assets/Image/59385-bicicleta.jpg'); background-size: cover; background-position: center}
    80% {background-image: url('../assets/Image/59388-bicicleta.jpg'); background-size: cover; background-position: center}
    90% {background-image: url('../assets/Image/59419-bicicleta.jpg'); background-size: cover; background-position: center}
    100% {background-image: url('../assets/Image/59430-bicicleta.jpg'); background-size: cover; background-position: center}
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.publicity{
    height: 100vh;
    animation-name: bicis;
    animation-duration: 100s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: relative;
    text-align: center;
    }

.public{
    position: absolute;
    color: black;
    font-family: 'The Nautigal', cursive;
    font-size: 4.5rem;
    font-weight: 900;
    position: absolute;
    bottom: 8vh;
    right: 10vh;
    text-shadow: rgba(239, 205, 11, 0.817) 1px 1px 3px;
    background-color: rgba(139, 139, 139, 0.224);
    border-radius: 100%;
    box-shadow: black 1px 3px 2px;
}

.welcome{
    font-family: 'Great Vibes', cursive;
    position: absolute;
    color:rgba(239, 205, 11, 0.817);
    text-shadow: black 2px 2px 2px;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.store{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 30%;
    font-family: 'Arima', cursive;
    color: beige;
    text-shadow: black 1px 1px 1px;
    font-size: 1rem;
    box-shadow: black 2px 3px 5px 5px;
}