.logged{
    position: absolute;
    top: 12vh;
    left: 50%;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

.content{
    margin-top: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 198, 199);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.imagen{
    width: 15rem;
    height: 11rem;
    border-radius: 15px;
}

.welcome{
    display: flex;
    align-items: flex-start;
}

.welcomeName{
    top: 5vh;
    right: 100%;
    transform: translate(-50%, -5%);
}