@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Great+Vibes&family=The+Nautigal:wght@700&display=swap');
/* font-family: 'Great Vibes', cursive; */
/* font-family: 'The Nautigal', cursive; */
/* font-family: 'Arima', cursive; */

    
.Slog{
    font-family: 'The Nautigal', cursive;
    font-size: 1.9rem;
    text-align: center;
    margin: auto;
    text-shadow: rgba(239, 205, 11, 0.817) 1px 1px 3px;
    text-shadow: (239, 205, 11, 0.817) 1px 1px 3px;
    background-color: rgba(139, 139, 139, 0.057);
    border-radius: 100%;
    box-shadow: black 1px 2px 1px;
}

.Slog1{
    font-family: 'Arima', cursive;
    display: flex;
    margin: auto;
    font-weight: bolder;
}